<div class="login-panel panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ title }}</h3>
    </div>
    <div class="panel-body">
        <form role="form" #registerForm="ngForm" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
            <fieldset>
                <div class="form-group">
                    <input class="form-control" placeholder="First Name" [(ngModel)]="user.firstName" #firstName="ngModel" name="firstName" type="text"
                        autofocus required>
                    <validate-message [label]="'First Name'" [input]="firstName" [submited]="registerForm.submitted"></validate-message>
                </div>

                <div class="form-group">
                    <input class="form-control" placeholder="Last Name" [(ngModel)]="user.lastName" #lastName="ngModel" name="lastName" type="text"
                        autofocus required>
                    <validate-message [label]="'Last Name'" [input]="lastName" [submited]="registerForm.submitted"></validate-message>
                </div>

                <div class="form-group">
                    <input class="form-control" placeholder="E-mail" [(ngModel)]="user.email" #email="ngModel" name="email" type="email" autofocus
                        required>
                    <validate-message [label]="'Email'" [input]="email" [submited]="registerForm.submitted"></validate-message>
                </div>

                <div class="form-group">
                    <input class="form-control" placeholder="Password" [(ngModel)]="user.password" #password="ngModel" name="password" type="password"
                        autocomplete="off" required>
                    <validate-message [label]="'Password'" [input]="password" [submited]="registerForm.submitted"></validate-message>
                </div>

                <div class="form-group">
                    <input class="form-control" placeholder="Re-type Your Password" [(ngModel)]="user.passwordConfirmation" #passwordConfirmation="ngModel"
                        name="passwordConfirmation" type="password" autocomplete="off" required>
                    <validate-message [label]="'Re-type Your Password'" [input]="passwordConfirmation" [submited]="registerForm.submitted"></validate-message>
                </div>

                <button type="submit" class="btn btn-lg btn-success btn-block touch">
                    Sign Up
                    <i class="m-icon-swapright m-icon-white"></i>
                </button>

                <button type="button" routerLink="/auth/login" class="btn btn-lg btn-default btn-block touch">
                    Go to Login
                    <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </fieldset>
        </form>
    </div>
</div>