<form #createGroupForm="ngForm" (ngSubmit)="onSubmit()">
    <section class="segment">
        <div class="content">
            <header class="segment-header">
                <h1>{{title}}</h1>
            </header>
        </div>
    </section>
    <div class="segment section-dashboard">
        <div class="content">
            <div class="card">
                <div class="card-section general offer-details">
                    <h2 class="offer-title">Step 1 - General Options</h2>

                    <div class="grid">
                        <div class="field internal-name column half">
                            <label class="field-label">Internal Name</label>
                            <div class="controls">
                                <input type="text" [(ngModel)]="qbGroup.name" name="name" class="input-field" maxlength="100" placeholder="Internal Name">
                                <p class="field-description">This name will only be used in this admin dashboard to help differentiate your Quantity BreakGroups</p>
                            </div>
                        </div>
                    </div>

                    <div class="grid">
                        <div class="field calc-type column half">
                            <label class="field-label">Discount Type</label>
                            <div class="controls">
                                <select class="select-field" [(ngModel)]="qbGroup.price_type" name="price_type">
                                    <option value=""> -- Select Calculation Type --</option>
                                    <option value="$" disabled>Fixed Price</option>
                                    <option value="%">Percent Discount</option>
                                    <option value="-" disabled>Price Discount</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="qty-options">
                        <label class="field-label">Apply Quantity Break</label>

                        <div class="field toggle-field">
                            <label>
                                <input type="radio" [(ngModel)]="qbGroup.across_variants" name="across_variants" class="across_variants" value="variant"
                                    checked="checked">
                                <div class="toggle-field-radio"></div>
                                Apply Quantity Break per Variant (Discount applies per individual item)
                            </label>
                            <p class="field-description">Quantity break will apply to specific variants (ie. Buy 5 of the same Large Red shirt to get
                                price break)</p>
                        </div>

                        <div class="field toggle-field">
                            <label>
                                <input type="radio" [(ngModel)]="qbGroup.across_variants" name="across_variants" class="across_variants" value="group" disabled>
                                <div class="toggle-field-radio"></div>
                                Apply Quantity Break across Group (Mix and match products for discount)
                            </label>
                            <p class="field-description">Quantity break will apply to a group of variants (ie. Buy ANY 5 shirts (any size, any colour)
                                to receive price break)</p>
                        </div>

                        <div class="field toggle-field">
                            <label>
                                <input type="radio" [(ngModel)]="qbGroup.across_variants" name="across_variants" class="across_variants" value="all_group"
                                    disabled>
                                <div class="toggle-field-radio"></div>
                                Apply Quantity Break across all Groups
                            </label>
                            <p class="field-description">Quantity Breaks will apply to all groups. Buy 5 products of group A and 5 products of group B
                                and get the quantity break at 10 products with the price created in group B</p>
                        </div>

                    </div>
                </div>

                <div class="card-section price-levels">
                    <h2>Step 2 - Configure Price Levels</h2>

                    <table id="price_level_table" class="table with-row-borders offers" style="width:55%">
                        <thead>
                            <tr class="top">
                                <th style="text-align: left; width:10%;">Qty
                                    <a class="calc_qty_tool_tip cool_too_tip" rel="tooltip">
                                        <i class="glyphicon glyphicon-question-sign"></i>
                                    </a>
                                </th>
                                <th class="amount_header" style="width:10%;">
                                    <span>Percent Off Per Item
                                        <a class="calc_type_percent_tool_tip cool_too_tip" rel="tooltip">
                                            <i class="glyphicon glyphicon-question-sign"></i>
                                        </a>
                                    </span>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="sortable">
                            <tr *ngFor="let item of qbGroup.price_levels; let i = index">
                                <td class="col_qty">
                                    <input class="input-field" [(ngModel)]="qbGroup.price_levels.qty" name="item.qty+{{i}}" type="hidden">
                                    <span [innerHTML]="qtyArr[item.qty]"></span>
                                </td>
                                <td class="col_value">
                                    <input class="input-field" [(ngModel)]="qbGroup.price_levels.value" name="item.value+{{i}}" type="hidden">
                                    <span>{{ item.value }}</span>
                                </td>
                                <td class="buttons">
                                    <a title="Delete Row" class="btn btn-shopify" (click)="deleteLevel(i)">
                                        <i class="fa fa-trash"></i> Delete</a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    <input class="input-field" type="number" min="1" [(ngModel)]="addQty" name="addQty" placeholder="Quantity">
                                </td>
                                <td>
                                    <input class="input-field" type="number" [(ngModel)]="addValue" name="addValue" placeholder="Value">
                                </td>
                                <td class="buttons">
                                    <a title="Add Price Level" (click)="addQbLevel()" class="btn btn-primary ">
                                        <i class="fa fa-plus"></i> Add
                                    </a>
                                    <a title="Clear Values" (click)="clearAddLevel()" class="btn btn-primary ">
                                        <i class="fa fa-remove"></i> Clear
                                    </a>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                    <div *ngIf="qbGroup.price_levels.length>0" class="field-group" style="width: 55%;margin-top: 20px;display: block">
                        <a class="btn btn-secondary pull-right" (click)="saveAllProducts()">
                            <i class="fa fa-save"></i> Apply for all created products </a>
                    </div>
                </div>

                <div class="card-section products">
                    <h2>Step 3 - Select Products</h2>

                    <div class="field">
                        <p>Select the products to which this Quantity Break Group applies.</p>
                        <div class="field-group" style="width: 480px;margin-bottom: 20px">
                            <a class="btn btn-primary" (click)="selectProducts()">
                                <i class="fa fa-hand-o-right"></i> Select Products</a>
                        </div>

                        <table *ngIf="qbGroup.products && (qbGroup.products | json) != '[]'" class="table table-bordered table-striped">
                            <thead>
                                <th>ID</th>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Recommend Info</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of qbGroup.products; let i = index">
                                    <td valign="top">
                                        <strong>{{item.id}}</strong>
                                    </td>
                                    <td valign="top">
                                        <img width="50" src="{{item.image_url}}" />
                                    </td>
                                    <td valign="top">
                                        <a href="https://{{shopDomain}}/products/{{item.handle}}" target="_blank">{{item.title}}</a>
                                    </td>
                                    <td valign="top">
                                        <p>
                                            <input type="checkbox" [(ngModel)]="item.recommend.show" name="show_{{i}}" />
                                            <b>Show/Hide</b>
                                        </p>
                                        <div *ngIf="item.recommend.show">
                                            <hr>
                                            <p>
                                                <input type="hidden" class="input-field" [(ngModel)]="item.recommend.image" name="image_{{i}}" />
                                                <input type="file" (change)="fileEvent($event, item)" style="margin-bottom:15px" />
                                                <img src="{{item.recommend.image}}" class="img-preview" style="display: block;max-width: 100px;margin-bottom:15px" />
                                                <button type="button" class="btn btn-danger" style="display: block" (click)="resetRecommendImage(item)">Reset Image</button>
                                            </p>
                                            <hr>
                                            <p>
                                                <b>Message:</b>
                                                <textarea class="input-field" [(ngModel)]="item.recommend.text" name="text_{{i}}"></textarea>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card-actions">
                    <button type="button" class="btn btn-default" routerLink="/admin">
                        <i class="fa fa-history"></i> Back</button>
                    <button type="submit" class="btn btn-primary" [disabled]="loading">
                        <i class="fa fa-save"></i> {{btnSave}}</button>
                </div>
            </div>
        </div>
    </div>
</form>