<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">My Profile</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Profile Account
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="nav nav-tabs" style="margin-bottom:20px">
                            <li routerLinkActive="active">
                                <a routerLink="/user/profile" data-toggle="tab">Personal Info</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/user/change-password" data-toggle="tab">Change Password</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>