<form (ngSubmit)="onConfirm()" *ngIf="active">
    <div class="bcr-product-selector">
        <div class="modal is-showing">
            <div class="modal-window modal-medium">
                <div class="modal-header">
                    <h1 class="modal-title">
                        <span>{{title}}</span>
                    </h1>
                    <button type="button" class="btn btn-close" (click)="hideConfirmationModal()">
                        <svg class="boldicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 160">
                            <polygon points="133 13.001 80.072 65.929 27.143 13.001 13 27.144 65.929 80.072 13 133.001 27.143 147.143 80.072 94.214 133 147.143 147.143 133.001 94.214 80.072 147.143 27.144"></polygon>
                        </svg>
                    </button>
                </div>
                <div class="modal-content">
                    <h1 style="padding:20px" [innerHTML]="body"></h1>
                </div>
                <div class="modal-actions">
                    <button type="submit" class="btn btn-primary">
                        Yes
                    </button>
                    <button type="button" class="btn btn-default" (click)="onCancel()">
                        No
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>