<page-loading></page-loading>

<header class="masthead">
    <nav class="app-nav">
        <div class="primary-nav">
            <ul class="nav nav-bar pull-left">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">
                        <span class="glyphicon fa fa-home"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin">
                        <span class="glyphicon glyphicon glyphicon-list"></span> Quantity Breaks </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()">
                        <span class="glyphicon glyphicon glyphicon-lock"></span> Logout </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/shops">
                        <span class="glyphicon glyphicon glyphicon-shopping-cart"></span> Shops </a>
                </li>
            </ul>
            <ul class="nav nav-bar pull-right">
                <li class="nav-item">
                    <a class="nav-link">
                        <span class="text-uppercase" style="text-transform: uppercase">{{shop}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>