<section class="segment">
    <div class="content">
        <div class="grid">
            <div class="homepage-header">
                <span class="fa fa-home"></span>
                <h1>Welcome to your Quantity Breaks app by DigiKai!</h1>
                <p class="intro">This page is just a quick overview of all the different features available in this app. You can access this
                    page any time by clicking the
                    <b>Home</b> icon in the navigation bar above</p>
            </div>
        </div>
    </div>
</section>

<section class="segment">
    <div class="content">
        <div class="grid">
            <div class="column half">
                <a routerLink="/admin" class="card home_card">
                    <div class="icon">
                        <i class="fa fa-th-list"></i>
                    </div>
                    <div class="description">
                        <h4>Quantity Breaks Groups</h4>
                        View and Edit product groups with quantity breaks applied.
                    </div>
                </a>
            </div>

            <div class="column half">
                <a routerLink="/create_group" class="card home_card">
                    <div class="icon">
                        <i class="fa fa-plus"></i>
                    </div>
                    <div class="description">
                        <h4>Create New Quantity Breaks</h4>
                        Create a new quantity break rule and apply it to products.
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>