@mixin message-flash-center-animation{
    @keyframes message-flash-center {
        from {
            margin-top: -50px;
            opacity: 0;
        }
        to {
            margin-top: 0;
            opacity: 1;
        }
    }
    @keyframes -webkit-message-flash-center {
        from {
            margin-top: -50px;
            opacity: 0;
        }
        to {
            margin-top: 0;
            opacity: 1;
        }
    }
    @keyframes -moz-message-flash-center {
        from {
            margin-top: -50px;
            opacity: 0;
        }
        to {
            margin-top: 0;
            opacity: 1;
        }
    }
    @keyframes -o-message-flash-center {
        from {
            margin-top: -50px;
            opacity: 0;
        }
        to {
            margin-top: 0;
            opacity: 1;
        }
    }

    animation: message-flash-center .3s ease-in;
    -webkit-animation: -webkit-message-flash-center .3s ease-in;
    -moz-animation: -moz-message-flash-center .3s ease-in;
    -o-animation: -o-message-flash-center .3s ease-in;
}

@mixin message-flash-right-animation{
    @keyframes message-flash-right{
        from{
            margin-right: -100px;
            opacity: 0;
        }
        to{
            margin-right: 0;
            opacity: 1;
        }
    }
    @keyframes -webkit-message-flash-right {
        from{
            margin-right: -100px;
            opacity: 0;
        }
        to{
            margin-right: 0;
            opacity: 1;
        }
    }
    @keyframes -moz-message-flash-right {
        from{
            margin-right: -100px;
            opacity: 0;
        }
        to{
            margin-right: 0;
            opacity: 1;
        }
    }
    @keyframes -o-message-flash-right {
        from{
            margin-right: -100px;
            opacity: 0;
        }
        to{
            margin-right: 0;
            opacity: 1;
        }
    }

    animation: message-flash-right ease-in .3s;
    -webkit-animation: -webkit-message-flash-right .3s ease-in;
    -moz-animation: -moz-message-flash-right .3s ease-in;
    -o-animation: -o-message-flash-right .3s ease-in;
}

#message-flash{
    position: fixed;
    z-index: 999999;
    top: 50px;
    max-width: 700px;
    margin: 0 auto;
    &.left{
        left: 20px;
        .alert{
            max-height: 300px;
            &.show{
                @include message-flash-center-animation;
            }
            &.hidden{
                margin: 0;
                margin-left: -100px;
                opacity: 0;
                max-height: 0;
                padding: 0;
            }
        }
    }
    &.right{
        right: 20px;
        .alert{
            max-height: 300px;
            &.show{
                @include message-flash-center-animation;
            }
            &.hidden{
                margin: 0;
                margin-right: -100px;
                opacity: 0;
                max-height: 0;
                padding: 0;
            }
        }
    }
    &.center{
        left: 20px;
        right: 20px;
        .alert{
            margin-left: auto;
            margin-right: auto;
        }
        .alert:not(:last-child){
            display: none;
        }
        .alert.show{
            @include message-flash-center-animation;
        }
        .alert.hidden{
            margin-top: -50px;
            opacity: 0;
        }
    }
    .alert{
        position: relative;
        z-index: 999999;
        min-width: 400px;
        max-width: 700px;
        margin-bottom: .3rem;
        transition: all .3s ease-out;
        padding-left: 55px;
        font-size: 16px;
        .icon{
            position: absolute;
            display: flex;
            display: -webkit-flex;
            top: 0;
            left: 0;
            height: 100%;
            justify-content: center;
            align-items: center;
            padding-left: 10px;
            padding-right: 10px;
        }
        &.alert-default{
            border-color: #ccc;
            background-color: #eee;
            .icon{background-color: #ccc;color: #666;}
        }
        &.alert-info{
            border-color: #9cc9e0;
            .icon{background-color: #9cc9e0;color: #31708f;}
        }
        &.alert-success{
            border-color: #a9d697;
            .icon{background-color: #a9d697;color: #3c763d;}
        }
        &.alert-warning{
            border-color: #efd176;
            .icon{background-color: #efd176;color: #8a6d3b;}
        }
        &.alert-danger{
            border-color: #e09b9b;
            .icon{background-color: #e09b9b;color: #a94442;}
        }
    }
}

@media (max-width: 991px){
    #message-flash{
        z-index: 999999;
        left: 10px;
        right: 10px;
        .alert{
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            min-width: inherit;
        }
        .alert:not(:last-child){
            display: none;
        }
        .alert.show{
            @include message-flash-center-animation;
        }
        .alert.hidden{
            margin-top: -50px;
            opacity: 0;
        }
    }
}