// .modal {
//     @media (min-width: 768px) {
//         text-align: center;

//         &:before {
//             content: '';
//             height: 100%;
//             width: 1px;
//             display: inline-block;
//             vertical-align: middle;
//         }

//         .modal-dialog {
//             width: 55%;
//             text-align: left;
//             margin: 10px auto;
//             display: inline-block;
//             vertical-align: middle;
//         }

//         .modal-content {
//             border-top: 1px solid #cccccc;
//         }
//     }
// }
