<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<div class="row">
    <div *ngIf="shops" class="col-md-12">
        <h3 class="col-md-12">Please select a Store:</h3>
        <div *ngFor="let item of shops" class="col-md-4">
            <div style="text-align: center;background-color: #5E8E3E;">
                <h3>
                    <a href="{{apiUrl}}/?shop={{item.shopify_domain}}&hmac={{item.hmac}}" style="color: #fff; padding: 30px 30px;display:block">{{item.shopify_domain}}</a>
                </h3>
            </div>
        </div>
    </div>
</div>